body {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}

button {
    border: none;

    background: none;
}

.container {
    width: 1440px;
}

.slider {
    display: flex;
    flex-direction: row;
    padding-left: 228px;
}

.text {
    margin-right: 34px;
}

.slider-title {

    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    line-height: 53px;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: #000000;
}

.slider-text {
    padding-bottom: 83px;;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #3C3C3B;
}

.register-link {
    display: block;
    position: relative;
    
    padding: 20px 85px 21px 42px;
    text-decoration: none;
    background-color: #000;
    color: #fff;

    z-index: 2;
}

.register-link::before {
    content: "";
    position: absolute;
    width: 214px;
    height: 60px;
    left: 12px;
    top: 16px;

    border: 1px solid #E0E0E0;
    box-sizing: border-box;

    z-index: 1;
}

.register-link::after {
    content: url("img/arrow.svg");
    position: absolute;
    left: 150px;
    top: 20px;
}

.teachers {
    min-width: 1440px;
    height: 406px;
    position: relative;
    overflow: hidden;
}
.teachers-list {
    position: absolute;
    left: 0px;
    transition: all 300ms ease-in;
    display: flex;
    list-style: none;
}

.teachers-unit {
    position: relative;

    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 312px;
    height: 406px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.teachers-name {
    margin-bottom: 10px;

    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;

    color: #000000;
}

.teachers-xp {
    margin-bottom: 43px;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #AFAFAF;
}

.teachers-xp::after {
    content: url('img/blue-rectangle.png');

    position: absolute;
    left: 115px;
    bottom: 57px;
}

.slider-control {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    bottom: -20px;
    left: calc(50% - 118px);
}

.slider-button-previous {
    cursor: pointer;
}

.slider-counter {
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.04em;

    color: #000000;

}

.slider-button-next {
    cursor: pointer;
}